ul{
    display: flex;
    list-style: none;
    padding: 10px 8px;
    margin: 15px 8px;
    justify-content: space-around;
    background-color: bisque;
    border-radius: 35px;
}
li{
    font-size: 1.4rem;
    font-weight: bold;
}
.navbar h1{
    font-size: 2rem;
    color: #333;
    margin-left: 20px;
    text-align: center;
}